/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 100%;
	text-transform: uppercase;
}

a {
	color: #ec7404;
	text-decoration: none;
}

.content a {
	font-size: 0.875rem;
}

a:hover {
	text-decoration: underline;
}

	
h2 {
	margin: 2px 0;
	font-size: 36px; 
	font-size: 2.25rem;
}
	
h3 {
	margin: 5px 0 10px 0;
	font-size: 24px; 
	font-size: 1.5rem;
	font-weight: 300;
}

p {
	margin: 20px 0;
	font-size: 14px; 
	font-size: 0.875rem;
}

.count {
	font-weight: 700;
	font-size: 3rem;
	font-size: 48px;
}

.name {
	font-weight: 700;
	font-size: 1.125rem;
}

.tags {
	font-weight: 700;
}

.header {
	width: 100%;
	height: auto;
	background-color: #343434;
	margin: 0;
	position: relative;

}

.header img {
	position: block;
	max-width: 100%;
	height: auto;
}

.title {
	position: absolute;
	bottom: 10%; 
	left: 20%;
	color: #ffffff;
  	width: auto;
	font-size: 5rem;
	}

 .light {
	font-weight: 300;
}
	
 .heavy {
	font-weight: 700;
}

.jump {
	width: 100%;
	background-color: #343434;
	padding: 15px 0;
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	font-size: 1.3125rem;
}

.jump a  {
	color: #ffffff;
	font-weight: 700;
}

.jump a:hover {
	color: #ec7404;
}

.footer {
	text-align: center;
	width: 100%;
	padding: 20px;
	background-color: #343434;
}

.kontaktform {
	margin: 0 auto;
	text-align: left;
	max-width: 770px;
}

form {
	
}

input,textarea {
	margin: 10px 0;
	width: 100%;
	padding: 10px;
	text-transform: uppercase;
	background: #2b2b2b;
	border: none;
	color: #ffffff;
	font-family: Ubuntu;
	font-weight: 300;
	font-size: 1.3125rem;
}

input[type=submit] {
	background: #ec7404;
	font-weight: 700;
}

[class*='col-'] {
	float: left;
	padding-right: 20px; /* column-space */
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 20px 0;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding-top: 20px;
	padding-left: 0px; /* grid-space to left */
	padding-right: 0px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
	float: right;
}

/* Content Columns */


.col-2-3 {
	width: 66.66%;
}

.col-1-3  {
	width: 33.33%;
	text-align: right;
}



@media only screen and (max-width: 400px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}
	
	.title {
	font-size: 3rem;
	}
	
input,textarea {
	font-size: 0.875rem;
}
	
	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 10px; /* column-space */
	}
	
	
	/* Mobile Layout */
	
	[class*='mobile-col-'] {
		float: left;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 10px; /* column-space */
		padding-bottom: 0px;
	}
	
	.mobile-col-1-1 {
		width: 100%;
	}
	.mobile-col-2-3, .mobile-col-8-12 {
		width: 66.66%;
	}

	.mobile-col-1-2, .mobile-col-6-12 {
		width: 50%;
	}

	.mobile-col-1-3, .mobile-col-4-12 {
		width: 33.33%;
	}

	.mobile-col-1-4, .mobile-col-3-12 {
		width: 25%;
	}

	.mobile-col-1-5 {
		width: 20%;
	}

	.mobile-col-1-6, .mobile-col-2-12 {
		width: 16.667%;
	}

	.mobile-col-1-7 {
		width: 14.28%;
	}

	.mobile-col-1-8 {
		width: 12.5%;
	}

	.mobile-col-1-9 {
		width: 11.1%;
	}

	.mobile-col-1-10 {
		width: 10%;
	}

	.mobile-col-1-11 {
		width: 9.09%;
	}

	.mobile-col-1-12 {
		width: 8.33%
	}

	/* Layout Columns */

	.mobile-col-11-12 {
		width: 91.66%
	}

	.mobile-col-10-12 {
		width: 83.333%;
	}

	.mobile-col-9-12 {
		width: 75%;
	}

	.mobile-col-5-12 {
		width: 41.66%;
	}

	.mobile-col-7-12 {
		width: 58.33%
	}
	
	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}
